/*  ==========================================================
							MEDIA PHONE 
	========================================================== */

html {

	background: red;
	padding:0;
	margin:0;
}
body {

	background: black;
	padding:0;
	margin:0;
}
.page {  
	
	// @include susy-grid-background;
	background: #ffcc00;
	margin: 0 auto;
	padding: 0; 
	width: 100%;
}

section {

	@include container($total-columns, $pad, $desktop);
}

footer {

	@include container($total-columns, $pad, $desktop);

 }


/*  ==========================================================
							MEDIA PAD 
	========================================================== */
	
@include at-breakpoint ($pad) {

	.page {  
	
		// @include susy-grid-background;
	
	}
	
	section  {

		@include container($total-columns, $pad, $desktop);

	 }

	footer {

		@include container($total-columns, $pad, $desktop);

	 }

}

/*  ==========================================================
						MEDIA DESKTOP
	========================================================== */


@include at-breakpoint ($desktop) {

	.page {  
	
		// @include susy-grid-background;
	
	}

	section  {

		@include container($total-columns, $pad, $desktop);

	}

	footer {

		@include container($total-columns, $pad, $desktop);

	 }

}
