@import "./resource/normalize";
@import "./resource/rem";
// @import "./resource/retina";
@import "./style/mixin";
@import "./layout";
@import "./typography";

body {
	
	@include fontMedium;
	color: #888;
	margin: 0;
	padding: 0;
 
}

.page {

	background-color: #f4f4f4;
	margin: 0 auto;
	padding: 0; 
	overflow: hidden;
}

.header {

	background-color: #de4f10;
	overflow: hidden;

	h1 {

		background: url(../images/logoEasyFind.png) no-repeat center top; 
		width: 100%;
		height: 85px;
		margin: $gap auto;
		@include hide-text; 
	}

	h2 {

		color: #00c400;
		text-align: center;
		margin: $gap auto;
		@include fontHuge;
	}

	hr {

		border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
		margin: $gap * 2 0;
	}

	ul {

		list-style-type: dice;
		margin: $gap * 2 auto;
		width: 90%;

		li {

			line-height: 1.5em;
			color: rgba(#fff, 0.8);
			font-weight: bold;
			text-align: left;
			@include fontSmall;
			margin-bottom: $gap;
		}
	}

	img {

		display: none;
	}

	@include at-breakpoint ($pad) {
		
		background: url(../images/bgHeader.png) no-repeat center center; 
		background-size: cover;
		position: relative;
		overflow: hidden; 

		h2 {

			font-size: 44px;
			color: #fff;
			font-weight: bold;
		}

		ul {

			width: 50%;

			li {

				text-align: center;
				color: rgba(#fff, 1);
			}
		}

		img {

			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			height: 300px; 
		}
	}
}

.s01 {

	background: #00c600;
	overflow: hidden;
	padding-bottom: $gap*2;
 
	h3 {

  		background: url(../images/logoLINE.png) no-repeat center top;
  		width: 100%;
  		height: 37px;
  		margin: $gap * 2;
  		padding: 0; 
  		display:block;
  		box-sizing: border-box;
		text-align: center;

		@include hide-text; 
	}

	h4 {

		color: #fff;
		text-align: center;
		margin: $gap * 2;
		@include fontLarge;

	}

	img {

		width: 280px;
		margin: 0 auto;
		@include border-radius(8px);
		display: block; 
	}

	hr {

		border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,126,0,0.75), rgba(0,0,0,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,126,0,0.75), rgba(0,0,0,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,126,0,0.75), rgba(0,0,0,0)); 
	    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,126,0,0.75), rgba(0,0,0,0)); 
		margin: $gap * 2 0;
	}

	@include at-breakpoint ($pad) {

		hr { display: none;}

		div {

			width: 45%;
			height: 300px;
			float: left;
			margin-bottom: $gap * 2;
		}
	}
}

.s02 {

	background: #00a4dd;
	overflow: hidden;
	padding-bottom: $gap * 2;

	h3 {

		color: #fff;
		text-align: center;
		margin: $gap * 2;
		@include fontLarge;

	}

	img {

		width: 280px;
		margin: 0 auto;
		@include border-radius(8px);
		display: block; 
	}

	hr {

	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	margin: $gap * 2 0;
	}

	@include at-breakpoint ($pad) {

		h3 { 

			width: 50%;
			float: left;
			@include fontHuge;
			line-height: 260px;
			text-align: right;

		}

		img {

			width: 25%;
			float: left;
			margin-top: $gap * 2;
		}
	}
}

.s03 {

	background: #00c7be;
	overflow: hidden;
	padding-bottom: $gap*2;

	h3 {

		color: #fff;
		text-align: center;
		margin: $gap * 2;
		@include fontLarge;

	}

	img {

		width: 280px;
		margin: 0 auto;
		@include border-radius(8px);
		display: block; 
	}

	hr {

		border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
		margin: $gap * 2 0;
	}

	@include at-breakpoint ($pad) {

		h3 { 

			width: 50%;
			float: left;
			@include fontHuge;
			line-height: 130px;
			text-align: right;

		}

		img {

			width: 25%;
			float: left;
			margin-top: $gap * 2;
		}
	}
}

.s04 {

	background: #fff;
	overflow: hidden;
	padding-bottom: $gap * 2;

	h3 {

		color: #777;
		text-align: center;
		margin: $gap;
		@include fontLarge;

	}

	img {

		width: 280px;
		margin: 0 auto;
		@include border-radius(8px);
		display: block; 
	}

	@include at-breakpoint ($pad) {

		h3 { 

			width: 50%;
			float: left;
			@include fontHuge;
			line-height: 320px;
			text-align: right;

		}

		img {

			width: 25%;
			float: left;
			margin-top: $gap * 2;
		}
	}
}

.s05 {

	background: #d5264c;
	overflow: hidden;
	padding-bottom: $gap*2;

	h3 {

		color: #fff;
		text-align: center;
		margin: $gap;
		@include fontLarge;

	}

	p {
		
		width: 85%;
		text-align: center;
		line-height: 2em;
		color: #fff;
		margin: 0 auto;
		color: rgba(#fff, 0.7);
		@include fontSmall;
	}

	a {

		display: block;
		background-color: #8ad200;
		text-align: center;
		line-height: 44px;
		text-decoration: none;
		color: #fff;
		height: 44px;
		width: 95%;
		margin: 0 auto;
		@include border-radius(8px);
		@include fontLarge;
		margin-top: $gap;
		
	}

	@include at-breakpoint ($pad) {

		h3 {

			@include fontHuge;

		}

		p {

			width: 65%;
		}

		a {
			width: 280px;
		}
	}
 
} 
 

.s06 {

	background: #f77100;
	overflow: hidden;
	padding-bottom: $gap*2;

	h3 {

		color: #fff;
		text-align: center;
		margin: $gap * 2;
		@include fontHuge;

	}
 
	h4 {

		color: #fff; 
		text-align: center;
		margin: $gap * 2;
		@include fontLarge;

	}


	img {

		width: 280px;
		margin: 0 auto;
		@include border-radius(8px);
		display: block; 
	}

	hr {

		border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
	    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
		margin: $gap * 2 0;
	}

	 li:before {

	    content: '✔  ';   
	    margin-left: -1em; 
	    margin-right: .200em;
	    color: #16abe5;
	    line-height: 2em;
	 }

	ul {

		padding-left:20px;
		text-indent:2px;
		list-style: none;
		list-style-position:outside;

		li {

	   		color: rgba(#fff, 0.7);
			@include fontSmall;

	   }
	}

	p {

		line-height: 1.5em;
		text-align: center;
		margin: $gap;
		color: rgba(#fff, 0.7);
	}

	@include at-breakpoint ($pad) {

		ul {

			list-style-type: dice;
			margin: $gap * 2 auto;
			width: 40%;
		}

		li {

			line-height: 1.5em;
			color: rgba(#fff, 0.6);
			font-weight: bold;
			text-align: left;
			@include fontSmall;
			margin-bottom: $gap;
		}

		hr { display: none;}

		div {

			margin-bottom: $gap * 2;
			width: 45%;
			height: 470px;
			float: left;
		}	
	}
}

footer {

	background-color: #333333;
	color: #fff;

	div {

		display: block;
		overflow: hidden;
		padding: $gap 0;
	}

	.store {

		width: (110px * 2 ) + ($gap * 2);
		margin: 0 auto;

		a {

			@include hide-text;
			width: 110px;
			height: 36px;
  			display: block;
  			margin: 0 $gap 0 0;
			float: left;
		}

		a.appStore {

		  	background: url(../images/btnAppStore.png) no-repeat center center;
  			
		}

		a.googlePlay {

			background: url(../images/btnGooglePlay.png) no-repeat center center;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.contact {
	
		width: (64px * 2 ) + ($gap * 5);
		margin: 0 auto;

		a {

			@include hide-text;
			width: 64px;
			height: 64px;
  			display: block;
  			margin: 0 $gap;
			float: left;
		} 

		a.btnEmail {

		  	background: url(../images/iconMail.png) no-repeat center center;
  			
		}

		a.btnFacebook {

			background: url(../images/iconFB.png) no-repeat center center;
		}
	}

	.copyright {

		h5 { 

			color: #888;
			text-align: center;
			@include fontSmall;
		}
	}

	@include at-breakpoint ($pad) {

		.store, .contact {

			float: left;
			width: 50%;
		}

		.store a {

			float: right;
			height: 64px;
		}

		.contact a {

			float: left;
		}

		.copyright {

			float: left;
			width: 100%;
		}

	}
}

















